/* Disclaimer! Veel selectors en propertys die ik in mijn CSS heb geschreven heb ik opgezocht via CSS-Tricks.com. Hier heb ik dan mijn eigen draai aan gegeven, maar voor inspiratie ben ik vooral daar wezen kijken aangezien ik dit niet allemaal uit mijn hoofd wist. Code die ik direct van internet heb of hulp bij heb gehad van mede studenten staat direct boven de desbetrefende code.  */

body {
    background-color: #f6f2e7;
}

/* grid heb ik opgezet */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.containershapes {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#parallelogramdik {
    width: 30%;
    height: 100px;
    transform: skew(20deg);
    background: #e75f2b;
    margin-left: 10em;
}


/* Styling van de shapes */

#parallelogramdik {
    width: 75%;
    height: 100px;
    transform: skew(20deg);
    background: #e75f2b;
    margin-left: 10em;
}

#parallelogramdun {
    width: 95%;
    height: 10px;
    transform: skew(20deg);
    background: #e75f2b;
    margin-left: 0.30em;
}

#parallelogramztop {
    width: 99%;
    height: 20px;
    transform: skew(20deg);
    background: #393836;
    margin-left: 0.25em;
    margin-top: -5.5em;
}

#parallelogramzmiddle {
    width: 35%;
    height: 15px;
    transform: skew(20deg);
    background: #393836;
    margin-left: auto;
}

#parallelogramzbottom {
    width: 95%;
    height: 20px;
    transform: skew(20deg);
    background: #393836;
}

#rectangle {
    width: 94%;
    height: 2px;
    background: #e75f2b;
    z-index: 2;
    margin-top: 3.7em;
}

#rectanglestack1 {
    width: 75%;
    height: 1px;
    background: #393836;
    margin-bottom: 0.05em;
}

#rectanglestack2 {
    width: 75%;
    height: 1px;
    background: #393836;
    margin-bottom: 0.05em;
}

#rectanglestack3 {
    width: 75%;
    height: 1px;
    background: #393836;
    margin-bottom: 0.05em;
}

#rectanglestack4 {
    width: 75%;
    height: 1px;
    background: #393836;
    margin-bottom: 0.05em;
}

#rectanglestack5 {
    width: 75%;
    height: 1px;
    background: #393836;
    margin-bottom: 0.05em;
}

.green {
    background: #2aade3 !important; 
}

.white {
    background: #747474 !important;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.containershapes {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* code deels van: https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load */
.containershapes, .containertekst {
            animation: fadein 8s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}

.containertekst {
    grid-row: 3;
    font-family: "Montserrat-Light";
    letter-spacing: 1em;
    font-size: 0.5em;
}

.textrechts {
    grid-column: 3;
}

.textlinks {
    grid-column: 1;
}


.textmidden {
    grid-column: 2;
}


.containershapes div {
    width: auto;
    height: auto;
}

/* bounceIn animation met behulp van https://thoughtbot.com/blog/css-animation-for-beginners */
h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1.5em;
    font-family: "Montserrat-Black";
    animation: bounceIn 2.5s;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    
    }
}

h1:hover {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1.5em;
    font-family: "Montserrat-Black";
    opacity: 0;
    transform: skewX(7deg);
    transition: 1s;
    transition-duration: 1s;
}

h2 {
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 2em;
    font-family: "Montserrat-Black";
}


/* MEDIUM SCREENS */

@media (min-width: 480px) and (max-width: 1024px) {

    #rectangle,#rectanglestack5, #rectanglestack4, #rectanglestack3, #rectanglestack2, #rectanglestack1, #parallelogramzbottom, #parallelogramzmiddle,#parallelogramdik {
        transform: rotate(90deg);
    }
    
    #rectanglestack5 {
       margin-left: 0.3em;
    }
     #rectanglestack4 {
       margin-left: 0.4em;
    }
     #rectanglestack3 {
       margin-left: 0.6em;
    }
     #rectanglestack2 {
       margin-left: 0.8em;
    }
    
    #rectangle {
        margin-left: -1em;
    }
    
    h1 {
        grid-column: 1;
        letter-spacing: 0.5em;
        font-size: 1em;
    }
    #parallelogramdik {
       height: 50px;
    }
    
    #parallelogramztop, #parallelogramdik {
        margin: auto;
    }
    
    #parallelogramzmiddle {
        margin-left: 0.1em;
    }

    h1:hover {
    grid-column-start: 1;
    grid-column-end: 1;
    letter-spacing: 0.6em;
}
}

/*}*/


/*
@media only screen and (max-width: 320px) {
    
  .containershapes {
    grid-column-start: 2;
      grid-column-end: 2;
          grid-row-start: 2;
    grid-row-end: 3;
}
*/
}
